@import url("https://fonts.googleapis.com/css2?family=Elsie&family=Oleo+Script+Swash+Caps&family=Oswald:wght@500&family=Raleway:wght@300&display=swap");
/*MISC */
/*Colors*/
primary {
  color: #DCD2B3; }

base {
  color: white; }

text-color {
  color: #54420D; }

/*Font-Family*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%;
  min-height: 100%;
  position: relative; }

header {
  margin: 0px;
  padding: 0px;
  background: white;
  text-align: center; }

.logo {
  width: 60px;
  height: 60px; }

.menu {
  padding: 0px;
  margin: 0px;
  width: 100%;
  justify-content: center; }
  .menu__item {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 1vw;
    font-family: "Oswald", sans-serif;
    transition: all 0.5s linear; }
  .menu__link {
    color: #755a0f;
    text-decoration: none;
    padding: .5rem 1rem;
    transition: all .3s; }
  .menu__link:hover {
    border: 2px solid #755a0f; }
  .menu__pagprincipal {
    color: #e6c845; }

a:hover {
  color: #54420D; }

footer {
  background-color: #a08906;
  text-align: right;
  background-color: #e6d9a2;
  text-align: right;
  display: flex;
  justify-content: space-around; }

.logo {
  width: 60px;
  height: 60px; }

.menu {
  padding: 0px;
  margin: 0px;
  width: 100%;
  justify-content: center; }
  .menu__item {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 1vw;
    font-family: "Oswald", sans-serif;
    transition: all 0.5s linear; }
  .menu__link {
    color: #755a0f;
    text-decoration: none;
    padding: .5rem 1rem;
    transition: all .3s; }
  .menu__link:hover {
    border: 2px solid #755a0f; }
  .menu__pagprincipal {
    color: #e6c845; }

a:hover {
  color: #54420D; }

#rinconfit {
  background: url(../imagenes/ALFAJOR.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }

.rf_intro, .pdestacados__textimg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.rinconfit1__titulo {
  font-size: 8vw;
  color: white;
  margin: 0px;
  padding-bottom: 35px;
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive; }

.rinconfit1__intro {
  color: white;
  font-size: 2vw;
  text-align: center;
  margin-top: 0px;
  font-family: "Oswald", sans-serif; }

/*seccion productos destacados*/
.pdestacados__titulo {
  font-size: 3vw;
  color: #54420D;
  margin: 0px;
  padding: 20px;
  text-align: center;
  text-decoration-line: underline;
  font-family: 'Elsie', cursive; }

.pdestacados__textimg {
  transition: all 1s linear; }

.pdestacados__textimg:hover {
  transform: scale(1.1, 1.1); }

.pdestacados__nombre {
  font-size: 1vw;
  color: #d4a348; }

.pdestacados1__imagenes {
  width: 40%; }

.boton__catalogo {
  width: 7rem;
  color: white;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  background-color: #b39975;
  padding-top: 0.3rem;
  border-radius: 0.8rem;
  display: inline-block;
  margin: 0 auto;
  text-align: center; }

.a {
  display: flex;
  justify-content: center;
  margin: 2%;
  padding-bottom: 1rem; }

/*MOBILE**/
@media screen and (max-width: 480px) {
  /*header mobile*/
  .logo {
    width: 20px;
    height: 20px; }
  .menu {
    padding: 0px;
    margin: 0px; }
    .menu__item {
      list-style-type: none;
      display: inline-block;
      padding: 10px;
      margin: 10px;
      font-size: 1em;
      font-family: "Oswald", sans-serif; }
  /*estilo main: introduccion a rf*/
  .rinconrit1__titulo {
    font-size: 8vw;
    color: #6b4900;
    margin: 0px;
    padding-bottom: 15px;
    text-align: center;
    font-family: "Oleo Script Swash Caps", cursive; }
    .rinconrit1__titulo__intro {
      color: white;
      font-size: 4vw;
      position: relative;
      text-align: center;
      margin-top: -1em;
      font-family: "Oswald", sans-serif; }
  .pdestacados {
    font-size: 1.7em;
    color: #a16c0a;
    margin: 0px;
    padding: 0.5em;
    text-align: center;
    text-decoration-line: underline; }
    .pdestacados__textimg {
      display: flex;
      flex-direction: column; }
    .pdestacados__nombre {
      font-size: 20px;
      color: #6b5b00; }
  .pdestacados1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; }
    .pdestacados1__imagenes {
      width: 50%; }
  footer {
    margin: 0px;
    padding: 0px;
    background-color: #e6d9a2;
    text-align: right; } }

#contactanos {
  background-image: url(../imagenes/chocman.png);
  background-size: cover; }

.titulo1 {
  font-size: 80px;
  color: white;
  margin: 0px;
  padding: 60px;
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive; }

.titulo2 {
  font-size: 50px;
  color: #54420D;
  padding: 20px;
  margin: 0px;
  text-decoration: underline; }

.contactanos__intro {
  text-align: center;
  padding: 33px; }

.contactanos__intro1 {
  color: #5a4d05;
  font-family: 'Oswald', sans-serif;
  font-size: 30px; }

.formulario {
  background-color: #C8B98A;
  width: 60%;
  margin: 2rem 20%; }

.ItemForm {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white; }

@media screen and (max-width: 480px) {
  .logo {
    width: 20px;
    height: 20px; }
  .menu {
    padding: 0px;
    margin: 0px; }
    .menu__item {
      list-style-type: none;
      display: inline-block;
      padding: 10px;
      margin: 10px;
      font-size: 10px;
      font-family: "Oswald", sans-serif; }
  .Titulo1 {
    font-size: 2em;
    color: #5f5101;
    margin: 0px;
    padding: 60px;
    text-align: center;
    font-family: 'Oswald', sans-serif; }
  .Titulo2 {
    font-size: 1.5em;
    color: #54420D;
    padding: 20px;
    margin: 0px;
    text-decoration: underline; }
  .contactanos__intro {
    color: #5a4d05;
    font-family: 'Oswald', sans-serif;
    font-size: 1em; }
  .formulario {
    background-color: #C8B98A;
    width: 60%;
    margin: 1rem 10%; } }

.conocenos_portada {
  background: url(../imagenes/PANQUEQUEPEANUT.jpg);
  background-size: cover;
  background-position: center;
  height: 100%; }

.nosotros__titulo1 {
  font-size: 80px;
  color: white;
  margin: 0px;
  padding: 60px;
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive; }

.nosotros__hist {
  height: 100%;
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.nosotros__carrusel {
  margin: 5% 5% 5% 10%; }

.nosotros__contenido {
  margin: 5% 10% 5% 0%;
  text-align: center;
  /* display: flex;
    flex-direction: column;  
    justify-content: center; */ }

.nosotros__titulo2 {
  font-size: 4vh;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #54420D; }

.nosotros__pppal {
  font-size: 2vw;
  text-align: left;
  color: #54420D;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

@media screen and (max-width: 480px) {
  .logo {
    width: 20px;
    height: 20px; }
  .menu {
    padding: 0px;
    margin: 0px; }
    .menu__item {
      list-style-type: none;
      display: inline-block;
      padding: 10px;
      margin: 10px;
      font-size: 10px;
      font-family: "Oswald", sans-serif; }
  .nosotros__titulo1 {
    font-size: 4em;
    color: white;
    margin: 0px;
    padding: 60px;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive; }
  .nosotros__hist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px; }
  .nosotros__titulo2 {
    font-size: 1.5em;
    color: #54420D;
    padding: 48px;
    margin: -29px;
    text-decoration: underline; }
  .nosotros__pppal {
    font-size: 1em;
    color: #54420D;
    margin: auto; } }

#pfrecuentes {
  background: url(../imagenes/chocman.png);
  background-size: cover;
  position: bottom; }

.pfrecuentes__titulo {
  font-size: 6em;
  color: white;
  margin: 0px;
  padding: 60px;
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive; }

.pfrecuentes__intro {
  text-align: center;
  margin: 0px;
  padding: 33px; }

.pfrecuentes__intro1 {
  color: #5a4d05;
  font-family: "Oswald", sans-serif;
  font-size: 3em; }

.pfrecuentes__preguntas {
  text-shadow: none;
  font-size: 3vw;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  margin: 38px; }

.accordion-button {
  color: #54420D;
  text-align: center;
  justify-content: center;
  font-size: 3rem; }

.accordion-button:not(.collapsed) {
  color: #54420D;
  background-color: #ffffff;
  box-shadow: #ffffff; }

.accordion-button:focus {
  box-shadow: white; }

.accordion-parrafo {
  font-size: 1.5vw;
  color: #54420D;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

/*.Pf__link {
    text-decoration: none;
    color: #54420D;
} */
@media screen and (max-width: 480px) {
  .logo {
    width: 20px;
    height: 20px; }
  .menu {
    padding: 0px;
    margin: 0px; }
    .menu__item {
      list-style-type: none;
      display: inline-block;
      padding: 10px;
      margin: 10px;
      font-size: 10px;
      font-family: "Oswald", sans-serif; }
  .pfrecuentes__titulo1 {
    font-size: 4em;
    color: white;
    margin: 0px;
    padding: 60px;
    text-align: center;
    font-family: "Oleo Script Swash Caps", cursive; }
  .pfrecuentes__intro {
    color: #5a4d05;
    font-family: --font-principal;
    font-size: 1.5em; }
  .pfrecuentes__preguntas {
    text-shadow: none;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    margin: 38px;
    background-color: #C8B98A; } }

#productos {
  background: url(../imagenes/ALFAJORBLANCO.jpg);
  background-size: cover;
  position: bottom; }

.productos__titulo {
  font-size: 8vw;
  color: white;
  margin: 0px;
  padding: 60px;
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive; }

.productos__imagenes {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 40%; }

.productos__nombre {
  font-size: 1.5vw;
  color: #d4a348;
  margin: 0px;
  padding: 10px;
  text-decoration: underline;
  text-align: center; }

.productos__desc {
  font-size: 1vw;
  color: #8a520a;
  text-align: center;
  margin: 0px;
  padding: 15px; }

.productos__model {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
  margin: 5px; }

.card {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }
  .card-img-top {
    width: 100%;
    height: 300px; }

@media screen and (max-width: 480px) {
  .logo {
    width: 20px;
    height: 20px; }
  .menu {
    padding: 0px;
    margin: 0px; }
    .menu__item {
      list-style-type: none;
      display: inline-block;
      padding: 10px;
      margin: 10px;
      font-size: 2vw;
      font-family: "Oswald", sans-serif; }
  .productos__titulo {
    font-size: 5vw;
    color: white;
    margin: 0px;
    padding: 60px;
    text-align: center;
    font-family: "Oleo Script Swash Caps", cursive; }
    .productos__titulo__model {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
    .productos__titulo__nombre {
      font-size: 2vw;
      color: #d4a348;
      margin: 0px;
      padding: 10px;
      text-decoration: underline; }
    .productos__titulo__desc {
      font-size: 2 vw;
      color: #8a520a;
      margin: 0px;
      padding: 10px; } }
