#pfrecuentes {
    background: url(../imagenes/chocman.png);
    background-size: cover;
    position:bottom;
}
.pfrecuentes {
    &__titulo {
    font-size: 6em ;
    color: map-get($colors, base);
    margin: 0px;
    padding: 60px;
    text-align: center;
    font-family: $font-tittle;
    }
    &__intro {
    text-align: center;
    margin: 0px;
    padding: 33px;
    }

    &__intro1 {
     color: rgb(90, 77, 5);
     font-family: $font-principal;
     font-size: 3em;
    }

    &__preguntas {
    text-shadow: none;
    font-size: 3vw;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    margin: 38px;
    } 
}   
.accordion {
    &-button {
        color: #54420D;
        text-align: center;
        justify-content: center;
        font-size: 3rem;
    }
    &-button:not(.collapsed){
        color: map-get($colors, text-color);
        background-color: #ffffff;
        box-shadow: #ffffff
    } 
    &-button:focus {
        box-shadow: map-get($colors, base);
        
    }
    
    &-parrafo {
        font-size: 1.5vw;
        color: #54420D;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }
}


/*.Pf__link {
    text-decoration: none;
    color: #54420D;
} */
@media screen and (max-width: 480px) {


    .logo {
        width: 20px;
        height: 20px;
    }
    .menu{
        padding: 0px;
        margin: 0px;

        &__item{
            list-style-type: none;
            display: inline-block;
            padding: 10px;
            margin: 10px;
            font-size: 10px;
            font-family: $font-principal;
        }
    }    
    .pfrecuentes {
        &__titulo1 {
            font-size: 4em ;
            color: rgb(255, 255, 255);
            margin: 0px;
            padding: 60px;
            text-align: center;
            font-family: $font-tittle;
        }
        &__intro {
        color: rgb(90, 77, 5);
        font-family: --font-principal;
        font-size: 1.5em;
        }

        &__preguntas {
        text-shadow: none ;
        font-size: 1.5em;
        font-family: 'Oswald', sans-serif;
        padding: 10px;
        margin: 38px;
        background-color: #C8B98A;
        } 
    }
}