
    /*Colors*/
    $colors:(
        primary: #DCD2B3,
        base: rgb(255,255,255),
        text-color: #54420D, 
    );

    @each $color, $value in $colors {
        #{$color} {
            color: #{$value};
        }
    }
  

    /*Font-Family*/
    $font-principal: 'Oswald', sans-serif; 
    $font-tittle: 'Oleo Script Swash Caps', cursive;
    
